.mineui-radio {
  display: inline-block;
  height: 26px;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 10px;
}
.mineui-block > input[type='radio'] {
  display: none;
}
.mineui-radio > i {
  border-radius: 25px;
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align:middle; /* 水平居中 */
  border: 2px solid #AAA;
  margin: 0 3px;
}
.mineui-radio-checked > i {
  border: 2px solid #5FB878;
}

.mineui-radio-checked > i::after {
  content: '';
  display: block;
  height: 12px;
  width: 12px;
  margin-left: 4px;
  margin-top: 4px;
  border: none;
  border-radius: 6px;
  background-color: #5FB878;
}

.mineui-radio-disabled {
  cursor: not-allowed !important;
}

.mineui-radio-disabled > i {
  border-color: #D2D2D2 !important;
}

.mineui-radio-disabled > span {
  color: #D2D2D2 !important;
}

.mineui-anim-scaleSpring{
  animation-name: mineui-scale-spring;
  animation-duration: .3s;
  animation-fill-mode: both;
}
@keyframes mineui-scale-spring {
  0% {
    opacity: .5;
    transform: scale(.5);
  }
  80% {
    opacity: .8;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
