.mineui-select {
  width: 190px;
  position: relative;
}

.mineui-select-title {
  width: inherit;
  height: 38px;
  border: 1px solid #D6D6D6;
  border-radius: 2px;
  cursor: pointer;
}

.mineui-select-title > input[type='text'] {
  width: 150px;
  height: 36px;
  line-height: 36px;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

.mineui-select dl {
  width: inherit;
  position: absolute;
  display: none;
  list-style-type: none;
}

.mineui-select dl dt, .mineui-select dl dd {
  margin: 0;
  padding: 0 10px;
  line-height: 36px;
}

.mineui-select-checked dl {
  width: inherit;
  position: absolute;
  display: block !important;
}

.mineui-select-checked dl dd:hover {
  background-color: #000;
  color: #FFF;
}
